mixin section-kv()
  section.section.section-kv
    .section-kv__decobox-top
      .cloud
        img(src=root+"images/img_kv-cloud.svg" alt="img_kv-cloud.svg")
        img(src=root+"images/img_kv-cloud.svg" alt="img_kv-cloud.svg")
        img(src=root+"images/img_kv-cloud.svg" alt="img_kv-cloud.svg")
        img(src=root+"images/img_kv-cloud.svg" alt="img_kv-cloud.svg")
      .house
        .house-content.scroll
          img(src=root+"images/img_kv-house-left.svg" alt="img_kv-house-left.svg")
          img(src=root+"images/img_kv-house-right.svg" alt="img_kv-house-right.svg")
          img(src=root+"images/img_kv-house-left.svg" alt="img_kv-house-left.svg")
          img(src=root+"images/img_kv-house-right.svg" alt="img_kv-house-right.svg")
          img(src=root+"images/img_kv-house-left.svg" alt="img_kv-house-left.svg")
          img(src=root+"images/img_kv-house-right.svg" alt="img_kv-house-right.svg")


    .section-kv__decobox-bottom
      img(src=root+"images/img_kv-man-sofa.svg" alt="img_kv-man-sofa.svg")
      img(src=root+"images/img_kv-man-dog.svg" alt="img_kv-man-dog.svg")
      img(src=root+"images/img_kv-girl-ball.svg" alt="img_kv-girl-ball.svg")
      img(src=root+"images/img_kv-spring.svg" alt="img_kv-spring.svg")
      img(src=root+"images/img_kv-man-bench.svg" alt="img_kv-bench.svg")
      img(src=root+"images/img_kv-bicycle.svg" alt="img_kv-bicycle.svg")
      img(src=root+"images/img_kv-couple.svg" alt="img_kv-couple.svg")
    .wrap__inner
      .section-kv__decobox-middle
        .main-title.section-kv_title.maru-b 永豐ATM
        .kv-subtitle.section-kv_subtitle.maru-b
          span 存提
          span e
          span 手掌
        img.kv-img(src=root+"images/img_kv-girl-atm.svg" alt="img_kv-girl-atm.svg")
        //- .js-animate.js-animate--delay-500.js-animate--fadein-up
